In [ ]:
text=["Lodon Paris London","Paris Paris London"]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
text=["London Paris London","Paris Paris London"]
cv=CountVectorizer()
count_matrix=cv.fit_transform(text)
print(count_matrix)

  (0, 0)	2
  (0, 1)	1
  (1, 0)	1
  (1, 1)	2

In [ ]:
print(count_matrix.toarray())

[[2 1]
 [1 2]]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
text=["London Paris London","Paris Paris London"]
cv=CountVectorizer()
count_matrix=cv.fit_transform(text)
similarity_score=cosine_similarity(count_matrix)
print(similarity_score)

[[1.  0.8]
 [0.8 1. ]]

In [ ]:
import pandas as pd

In [ ]:
d= pd.read_csv("movie_dataset.csv")
d.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
def get_title_from_index(index):
  return df[df.index==index]['title'].values[0]
def get_index_from_title(title):
  return df[df.title==title]['index'].values[0]

In [ ]:
df=pd.read_csv("movie_dataset.csv")

In [ ]:
print(df.head())

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [ ]:
print(df.columns)

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [ ]:
features=['keywords','cast','genres','director']

In [ ]:
for feature in features:
  df[feature]=df[feature].fillna('')

In [ ]:
def combine_features(row):
  return row['keywords'] +""+row['cast']+row['genres']+row['director']

In [ ]:
df["combined_features"]=df.apply(combine_features,axis=1)

In [ ]:
print("Combine Features:\n",df['combined_features'].head())

Combine Features:
 0    culture clash future space war space colony so...
1    ocean drug abuse exotic island east india trad...
2    spy based on novel secret agent sequel mi6Dani...
3    dc comics crime fighter terrorist secret ident...
4    based on novel mars medallion space travel pri...
Name: combined_features, dtype: object

In [ ]:
#step4
cv=CountVectorizer()

In [ ]:
count_matrix=cv.fit_transform(df['combined_features'])

In [ ]:
#step5
cosine_sim=cosine_similarity(count_matrix)

In [ ]:
movie_user_like="Avatar"

In [ ]:
movie_index=get_index_from_title(movie_user_like)

In [ ]:
similar_movies = list(enumerate(cosine_sim[movie_index]))

In [ ]:
sorted_similar_movies = sorted(similar_movies, key= lambda x:x[1],reverse=True)

In [ ]:
i=0
for movie in sorted_similar_movies:
  print(get_title_from_index(movie[0]))
  i=i+1
  if i>50:
    break

Avatar
Guardians of the Galaxy
Alien
Aliens
Star Wars: Clone Wars: Volume 1
Space Dogs
Cargo
Star Trek Beyond
Moonraker
Jason X
Galaxy Quest
Trekkies
Silent Running
The Astronaut's Wife
Planet of the Apes
Wing Commander
Star Trek Into Darkness
Babylon A.D.
Space Chimps
Galaxina
Oblivion
The Ice Pirates
John Carter
Soldier
Damnation Alley
Gravity
Men in Black
Sheena
Men in Black II
Memoirs of an Invisible Man
Treasure Planet
The Iron Giant
Shrek Forever After
Source Code
Captain America: The Winter Soldier
Lost in Space
Event Horizon
The Right Stuff
Crossroads
Stargate: The Ark of Truth
Saving Private Ryan
Terminator 2: Judgment Day
Titan A.E.
Sunshine
The Thing
Spaceballs
Jupiter Ascending
Mad Max: Fury Road
Red Planet
AVP: Alien vs. Predator
Zathura: A Space Adventure